<html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Test</title>
    <head>

        <!-- Define a component named todo-item -->
        <template name="todo-item">
            <style>
                todo-item {
                    display: block;
                    font-size: 1.4em;
                }
                todo-item > button {
                    font-size: 15px;
                    width: 30px;
                    height: 30px;
                }
            </style>
            <button onclick=toggle>{% if not active %}✓{% endif %}</button>
            <label>{{ content }}</label>
            <script>
                this.types = {
                    active: moedco.types.bool,
                    key: moedco.types.integer,
                    ontoggle: moedco.types.func,
                };
                function toggle() {
                    this.props.ontoggle(this.props.key);
                }
            </script>
        </template>

        <!-- Define a component named todo-mvc -->
        <template name="todo-mvc">
            {% for pair in list %}
                <todo-item active="{{ pair.active }}" ontoggle:="toggle" key="{{ pair.id }}">
                    {{ pair.text }}
                </todo-item>
            {% endfor %}

            <input name="add-item" value="{{ currentText }}" onkeyup=currentItemChanged placeholder="type in new item" />
            <button onclick=addItem>Add</button>

            <script>
                function toggle(key) {
                    const {active} = this.props.list[key];
                    this.props.list[key].active = !active;
                    this.rerender();
                }

                function currentItemChanged(ev) {
                    this.props.currentText = ev.target.value;
                }

                function addItem() {
                    this.props.list.push({
                        active: false,
                        text: this.props.currentText,
                        id: this.props.list.length,
                    });
                    this.props.currentText = '';
                    this.rerender();
                }
            </script>
        </template>
    </head>
    <body>
        <h1>todos</h1>

        <!-- Instantiate a todo-mvc with the props -->
        <todo-mvc props.list=TODO></todo-mvc>

        <script>
            // Small hack to get it working
            module = {};
            module.exports = {};
            window.props = {};
            window.props.TODO = [];
            for (var i = 0; i < 1000; i++) {
                window.props.TODO.push({
                    id: i,
                    text: `example ${i}`,
                    active: true,
                });
            }
        </script>

        <script src="./tinytiny/index.js"></script>
        <script src="./moedco.js"></script>
        <script src="./node_modules/set-dom/dist/set-dom.js"></script>
        <script src="./node_modules/morphdom/dist/morphdom.js"></script>
        <script>
            const require = pkg => ({
                'set-dom': window.setDOM,
                'tinytiny': window.TinyTiny,
                'morphdom': window.morphdom,
            }[pkg]);

            // Try different reconiciliation engines
            //moedco.defaultOptions.reconciliationEngine = 'morphdom';
            //moedco.defaultOptions.reconciliationEngine = 'set-dom';
            moedco.defaultOptions.templatingEngineh = 'TinyTiny';
            moedco.defineAll();
        </script>
    </body>
</html>

