<!doctype html>
<html>
    <head>

        <title>Test</title>
        <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">

        <!-- Define a component named todo-item -->
        <template name="todo-item">
            <style>
                todo-item {
                    display: block;
                    font-size: 2.4em;
                }
            </style>
            <button onclick=toggle>
                {% if not active %}✓{% endif %}
                {{ content }}
            </button>
            <script>
                this.types = {
                    active: moedco.types.bool,
                    key: moedco.types.integer,
                    ontoggle: moedco.types.func,
                };
                function toggle() {
                    this.props.ontoggle(this.props.key);
                }
            </script>
        </template>

        <!-- Define a component named todo-mvc -->
        <template name="todo-mvc" state="todo">
            {% for pair in state.list %}
                <todo-item active="{{ pair.active }}" ontoggle:=toggle key="{{ pair.id }}">
                    {{ pair.text }}
                </todo-item>
            {% endfor %}

            <input name="add-item"
                value={{state.currentText}}
                onkeyup=currentItemChanged
                placeholder="type in new item" />
            <button onclick=addItem>Add</button>

            <script>
                function initialized() {
                    this.state.list = [];
                }

                function toggle(key) {
                    const {active} = this.state.list[key];
                    this.state.list[key].active = !active;
                    this.rerender();
                }

                function currentItemChanged(ev) {
                    this.state.currentText = ev.target.value;
                }

                function addItem() {
                    this.state.list.push({
                        active: false,
                        text: this.state.currentText,
                        id: this.state.list.length,
                    });
                    this.state.currentText = '';
                    this.rerender();
                }
            </script>
        </template>
    </head>

    <body>
        <h1>todos</h1>

        <!-- Instantiate a todo-mvc -->
        <todo-mvc></todo-mvc>

        <script>
            // Small hack
            module = {};
            module.exports = {};
        </script>

        <script src="./moedco.js"></script>
        <script src="./tinytiny/index.js"></script>
        <script src="./node_modules/set-dom/dist/set-dom.js"></script>
        <script src="./node_modules/morphdom/dist/morphdom.js"></script>
        <script>
            const require = pkg => ({
                'set-dom': window.setDOM,
                'tinytiny': window.TinyTiny,
                'morphdom': window.morphdom,
            }[pkg]);

            // Try different reconciliation engines
            //moedco.defaultOptions.reconciliationEngine = 'morphdom';
            //moedco.defaultOptions.reconciliationEngine = 'set-dom';
            moedco.defaultOptions.templatingEngine = 'TinyTiny';
            moedco.defineAll();
        </script>
    </body>
</html>
