<!doctype html>
<html>
    <head>

        <title>Test</title>
        <!--<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">-->

        <!-- Define a component named todo-item -->
        <template name="todo-item">
            <style>
                todo-item div {
                    font-size: 2.0em;
                    margin-bottom: 5px;
                    border-bottom: 2px dotted tomato;
                }
            </style>
            <div onclick=toggle>
                {% if not active %}✓{% endif %}
                {{ content }}
            </div>
            <script>
                this.types = {
                    active: moedco.types.bool,
                    key: moedco.types.integer,
                    ontoggle: moedco.types.func,
                };
                function toggle() {
                    this.props.ontoggle(this.props.key);
                }
            </script>
        </template>

        <!-- Define a component named todo-mvc -->
        <template name="todo-mvc" state="todo">
            {% for pair in state.list %}
                <todo-item active="{{ pair.active }}" ontoggle:=toggle key="{{ pair.id }}">
                    {{ pair.text }}
                </todo-item>
            {% endfor %}

            <input
                value="{{state.currentText}}"
                onkeyup=currentItemChanged
                placeholder="type in new item"
            />
            <button onclick=addItem>Add {{ state.currentText }}</button>

            <script>
                function initialized() {
                    this.state.list = [];
                }

                function toggle(key) {
                    const {active} = this.state.list[key];
                    this.state.list[key].active = !active;
                    this.rerender();
                }

                function currentItemChanged(ev) {
                    this.state.currentText = ev.target.value;
                    this.rerender();
                    // Restore focus
                    this.querySelector('input').focus();
                    this.querySelector('input').setSelectionRange(this.state.currentText.length, this.state.currentText.length);
                }

                function addItem() {
                    this.state.list.push({
                        active: false,
                        text: this.state.currentText,
                        id: this.state.list.length,
                    });
                    this.state.currentText = '';
                    this.rerender();
                }
            </script>
        </template>
    </head>

    <body>

        <!-- Instantiate a todo-mvc -->
        <section>
            <h1>To-Do List</h1>
            <todo-mvc></todo-mvc>
        </section>

        <!--
        <section>
            <h1>To-Do List 2</h1>
            <todo-mvc></todo-mvc>
        </section>
        -->

        <script>
            // Small hack
            module = {};
            module.exports = {};
        </script>

        <script src="./moedco.js"></script>
        <script src="./tinytiny/index.js"></script>
        <script src="./node_modules/set-dom/dist/set-dom.js"></script>
        <script src="./node_modules/morphdom/dist/morphdom.js"></script>
        <script>
            const require = pkg => ({
                'set-dom': window.setDOM,
                'tinytiny': window.TinyTiny,
                'morphdom': window.morphdom,
            }[pkg]);

            // Try different reconciliation engines
            //moedco.defaultOptions.reconciliationEngine = 'morphdom';
            //moedco.defaultOptions.reconciliationEngine = 'set-dom';
            moedco.defaultOptions.templatingEngine = 'TinyTiny';
            moedco.defineAll();
        </script>
    </body>
</html>
